.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f7ca18;
    padding: 30px;
    text-align: center;
}
.items{
    font-weight: bold;
    font-size: 20px;
    padding: 40px;
}